<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/headTag') -%>
</head>

<body>
    <%- include('./components/navbar') -%>
        <div class="body-mid">
            <div class="container mt-2">
                <a href="/" class="btn btn-secondary fw-bold ">&larr; Back</a>
            </div>

            <div class="container mt-5">
                <div class="container mt-5 bg-gray text-center text-light fw-50 p-3">
                    <h1 style="font-weight:bolder; font-size: 45px;">View All Customer</h1>
                </div>

                <table class="table mt-2">
                    <thead class="bg-black text-light">
                        <tr style="padding-bottom: 100px; font-size: 22px;">
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Balence</th>
                            <th scope="col">Action</th>
                            <th scope="col">Remove</th>

                        </tr>
                    </thead>
                    <tbody class="bg-white text-dark">
                        <% if(data.length>0){%>
                            <% data.forEach((e) => {%>
                                <tr>
                                    <td>
                                        <%= e.name %>
                                    </td>
                                    <td>
                                        <%= e.email %>
                                    </td>
                                    <td>
                                        <%= e.contact  %>
                                    </td>
                                    <td>
                                        <%= e.amount  %>
                                    </td>
                                    <td>
                                        <a href="/view/<%=e._id %>" class="btn btn-dark">View & Transfer</a>
                                    </td>
                                    <td>
                                        <a href="/delete/<%=e._id %>" " class="btn btn-danger " >
                <i class="fa fa-times " ></i>
              </a>
              </td>
            </tr>
                          
            <%}) %>        
          
          <%}else{%>
            <tr class="bg-warning text-light ">
              <td>
                
                  No records Found!
                
              </td>
            </tr>
          
            
            <%} %>
      
      
      </tbody>
    </table>
  </div>
  </div>
  <footer class="text-center text-white ">
    <div class="text-center text-dark p-3 ">
        <p>© 2020 Copyright: <a href="# ">Banker's.com</a></p>
    </div>
</footer>

        <!-- - Back to all users -->

        

    <%- include('./components/bootstrapScript') -%>
</body>
</html>